body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #F2CFC2;
}

#game-board{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 10px;
    margin: 30px auto;
    justify-content: center;
}

.card img{
    border-radius: 5px;
    width: 100px;
    height: 100px;

}

.card {
    background-color: #384C73;
    border-radius: 5px;
    cursor: pointer;
    transform: rotateY(0deg);
    transition: all 0.5s;
}

.card .card-content {
    opacity: 0;
    transition: all 0.3s;
}

.card.flip .card-content {
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
}

.card.flip{
    transform: rotateY(180deg);
}

.card.matched {
    border: solid 4px rgb(0, 255, 0);
    box-sizing: border-box; 
    cursor: default;
    border-radius: 5px;
}

.btn{
    background-color: #384C73;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    background-color: #2B3A57;
}

.game-info, .stats, .top-scores {
    font-family: Arial, sans-serif;
    font-size: 0.5rem;
}
